*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{

}

nav{
	background: #47AADC;
	height: 80px;
	width: 100%;
}

label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin: right;
	margin-right: 20%;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 30px;
}